<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017288582201-4ns78cfbtubb4lhbjitmvrl22bkdffdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017288582201-4ns78cfbtubb4lhbjitmvrl22bkdffdf</string>
	<key>API_KEY</key>
	<string>AIzaSyANIq7iLQO8aJBI920G0NII7goFptTF5sg</string>
	<key>GCM_SENDER_ID</key>
	<string>1017288582201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erarslannburak.Nasa-Rover-Photos</string>
	<key>PROJECT_ID</key>
	<string>nasa-rover-photos</string>
	<key>STORAGE_BUCKET</key>
	<string>nasa-rover-photos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017288582201:ios:1e4d1419e0764cd35d99e8</string>
	<key>DATABASE_URL</key>
	<string>https://nasa-rover-photos.firebaseio.com</string>
</dict>
</plist>